# Java/Maven
**/target/
**/.mvn/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties

# IDE/Editor
.idea/
.vscode/
*.iml
*.classpath
*.project

# OS/Logs
*.log
*.tmp
*.swp
.DS_Store

# MySQL
backend/mysql-data/


# Node (por si el frontend está en el repo)
node_modules/
dist/

# Entornos y secretos
.env
.env.*
**/.env
**/.env.*

# Postman/Insomnia (si generas tokens locales)
*.postman_environment.json

# Docker
**/.dockerignore
