version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-local
    ports:
      - "5673:5672"   # AMQP (host -> container)
      - "15673:15672" # Management UI (host -> container)
    environment:
      RABBITMQ_DEFAULT_USER: agro
      RABBITMQ_DEFAULT_PASS: agro123
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  rabbitmq_data:

