server:
  port: 8086

spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/inventory_db}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USER:guest}
    password: ${RABBIT_PASS:guest}

events:
  exchange:
    products: ${PRODUCTS_EXCHANGE:products.events}
    inventory: ${INVENTORY_EXCHANGE:inventory.events}
outbox:
  publisher:
    delay-ms: ${OUTBOX_PUBLISH_DELAY_MS:2000}
